.SugarPurchaseBill-row {
    display: flex;
    align-items: center;
    margin-bottom: -10px;
    margin-top: 20px;
  }
  
  .SugarPurchaseBilllabel {
    font-weight: bold;
    margin-right: 16px;
    min-width: 100px;
    margin-top: -10px;
    text-align: right;
  }
  
  .SugarPurchaseBill-col {
    flex-grow: 1;
  }
  

  /* sugar purchse Detail */
  .sugar-purchase-modal {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1050;
    padding-top: 10%;
  }
  
  .sugar-purchase-modal-dialog {
    margin: 0 auto;
    background: white;
    border-radius: 8px;
    max-width: 1000px;
    padding: 30px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  }

  .sugar-purchase-body {
    padding: 20px;
    overflow-y: auto;
   
  }
  
  .sugar-purchase-modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
  }
  
  .sugar-purchase-modal-title {
    font-size: 20px;
    font-weight: bold;
    color: #333;
    text-align: center;
    width: 100%;
    margin: 0;
    color: #007bff;
  }
  
