.company-parameters-form-container {
    max-width: 1500px;
    background-color: #f9f9f9;
}

.CompanyParameters-form-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    width: 90%;
}

.CompanyParameters-form-group label {
    flex: 0 0 30%;
    text-align: right;
    margin-right: 10px;
    white-space: nowrap; 
}

.CompanyParameters-form-group .CompanyParameters-form-group-column input ,
.CompanyParameters-form-group .CompanyParameters-form-group-row input,
.CompanyParameters-form-group .CompanyParameters-form-group-column .AccountMasterHelp,
.CompanyParameters-form-group .CompanyParameters-form-group-row .AccountMasterHelp
{
    flex: 0 0 30%;
    padding: 8px 12px;
    border: 1px solid #ddd;
    border-radius: 5px;
    display: flex;
    max-width: 200px; 
    
}

.button-container {
    text-align: center;
    margin-top: 20px;
    width: 100%;
}

button {
    padding: 10px 20px;
    margin: 0 5px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    font-size: 16px;
}

button:disabled {
    background-color: #ccc;
}

button:hover:not(:disabled) {
    background-color: #0056b3;
}


.companyparameter-row {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
.companyparameterlabel {
    font-weight: bold;
    margin-right: 16px;
    min-width: 100px;
    margin-top: -10px;
    white-space: nowrap;
  }

  .companyparameter-col {
    flex-grow: 1;
  }

  .companyparameter-form-group {
    display: flex;
    align-items: center;
    margin-left: 10px;
  }