<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <!-- FastCGI for Python -->
        <handlers>
            <remove name="CGI-exe" />
            <add name="IISPython" path="*" verb="*" modules="FastCgiModule" scriptProcessor="C:\Users\Server\AppData\Local\Programs\Python\Python312\python.exe|C:\Users\Admin\AppData\Local\Programs\Python\Python312\Scripts\wfastcgi.py" resourceType="File" requireAccess="Script" />
        </handlers>

        <!-- URL Rewrite for Reverse Proxy -->
        <rewrite>
            <rules>
                <rule name="ReverseProxyInboundRule1" stopProcessing="true">
                    <match url="(.*)" />
                    <action type="Rewrite" url="http://localhost:8080/{R:1}" logRewrittenUrl="true" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
    <appSettings>
        <add key="IISPython" value="D:\develop\JKGroup\JKERPSoftwareProject\SugarianPythonReact09112024\Server\venv\run.py"/>
    </appSettings>
</configuration>
